$color-white: theme('colors.white');

$info-text: theme('colors.blue.700');
$info-background: theme('colors.blue.300');
$success-text: theme('colors.green.700');
$success-background: theme('colors.green.300');
$warning-text: theme('colors.amber.500');
$warning-background: theme('colors.amber.200');
$error-text: theme('colors.red.700');
$error-background: theme('colors.red.300');

$default-text: theme('colors.gray.900');
$primary-color: theme('colors.emerald.400');
$primary-border: theme('colors.emerald.900');